<p-dialog
  header="Edit Note"
  [(visible)]="visible"
  [modal]="true"
  [draggable]="false"
  [resizable]="false"
  styleClass="max-w-md w-[95vw] md:w-full"
>
  <div class="pt-3">
    <form
      class="flex flex-col w-full gap-y-3"
      [formGroup]="editForm"
      (ngSubmit)="onSubmit()"
    >
      <input
        type="text"
        pInputText
        class="w-full"
        placeholder="Enter title"
        formControlName="title"
        required
      />
      <textarea
        rows="5"
        cols="30"
        pInputTextarea
        placeholder="Enter description"
        formControlName="description"
        required
      ></textarea>
      <div class="flex justify-center gap-x-3 mt-1">
        <p-button
          label="Update"
          type="submit"
          [disabled]="loading"
          styleClass="p-button-success p-button-sm p-button-help"
        />
        <p-button
          label="Delete"
          type="button"
          [disabled]="loading"
          (onClick)="onDelete()"
          styleClass="p-button-danger p-button-sm p-button-help"
        />
      </div>
    </form>
  </div>
</p-dialog>
