<section class="max-w-6xl mx-auto px-2 md:px-5 xl:px-0 pt-24 pb-8">
  <div
    class="grid sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-3 md:gap-4 xl:gap-5"
  >
    <ng-container *ngIf="!loading; else loadingSkeleton">
      <div
        *ngFor="let note of notes"
        class="h-60 w-full border border-gray-300 rounded-lg p-4 flex flex-col gap-y-2 cursor-pointer transition duration-300 card"
        (click)="editNote(note)"
      >
        <h2 class="font-bold text-2xl truncate">
          {{ note.title }}
        </h2>
        <div class="flex-1 overflow-hidden">
          <p class="text-xl">
            {{ note.description }}
          </p>
        </div>
      </div>
    </ng-container>
    <div
      class="fixed inset-0 flex items-center justify-center"
      *ngIf="!loading && notes.length === 0"
    >
      <p class="font-semibold text-gray-600 text-xl">
        <i class="pi pi-book mr-1"></i>Notes you add appear here
      </p>
    </div>
    <ng-template #loadingSkeleton>
      <p-skeleton
        *ngFor="let _ of [1, 2, 3, 4, 5, 6, 7, 8]"
        width="full"
        height="15rem"
      ></p-skeleton>
    </ng-template>
  </div>
</section>
