<section class="max-w-6xl mx-auto px-2 md:px-5 xl:px-0 pt-24 pb-8">
  <div
    class="grid sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-3 md:gap-4 xl:gap-5"
  >
    <div *ngFor="let note of notes">
      <p-card header="{{ note.title }}">
        <p class="mb-2">{{ note.description }}</p>
        <hr />
        <div class="flex items-center mt-2 justify-center gap-x-2">
          <p-button
            icon="pi pi-pencil"
            styleClass="p-button-rounded p-button-sm p-button-help"
          ></p-button>
          <p-button
            icon="pi pi-trash"
            styleClass="p-button-rounded p-button-sm p-button-danger"
          ></p-button>
        </div>
      </p-card>
    </div>
  </div>
  <div
    class="grid sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-3 md:gap-4 xl:gap-5"
    *ngIf="loading"
  >
    <p-skeleton
      *ngFor="let _ of [1, 2, 3, 4, 5, 6, 7, 8]"
      width="full"
      height="12rem"
    />
  </div>
</section>
